<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>App settings</title>
        <link rel="stylesheet" th:href="@{/admin.css}">
    </head>
    <body>
        <h1 th:text="${_coreLocalization.application()}"></h1>
        <h3 th:if="${_message != null && !_message.isEmpty()}" th:text="${_message}"></h3>

        <div class="card">
            <div class="cardDescription">
                <p th:text="${_translatorLocalization.selectDefaultLanguage()}"></p>
            </div>
            <table>
                <tr>
                    <td>
                        <form id="languageSelect" th:action="@{/super-admin/app/default-language}" method="post">
                            <label for="lang"></label>
                            <select id="lang" name="code">
                                <option th:each="lang : ${_localizationWidget.languages()}"
                                        th:value="${lang.getCode()}"
                                        th:text="${lang.getCode()} + ' - ' + ${lang.getSelfName()}"
                                        th:selected="${lang.equals(_localizationWidget.defaultLanguage())}">
                                </option>
                            </select>
                        </form>
                    </td>
                    <td>
                        <input form="languageSelect" class="button green" type="submit" th:value="${_coreLocalization.apply()}">
                    </td>
                </tr>
            </table>
        </div>

        <div class="card">
            <div class="cardDescription">
                <p th:text="${_translatorLocalization.toggleLanguages()}"></p>
            </div>
            <table>
                <tr th:each="supportedLang : ${_localizationWidget.allLanguages()}"
                    th:class="${_localizationWidget.languages().contains(supportedLang)} ? 'active' : 'inaccessible'">
                    <td>
                        <p th:text="'[' + ${supportedLang.getCode().toUpperCase()} + '] - ' + ${supportedLang.getSelfName()}"></p>
                    </td>
                    <td>
                        <form th:id="'toggleLanguage' + ${supportedLang}"
                              th:action="@{'/super-admin/app/language/' + ${supportedLang.name()} + '/toggle'}"
                              method="post">
                        </form>
                    </td>
                    <td>
                        <input type="submit"
                               th:form="'toggleLanguage' + ${supportedLang}"
                               th:class="'button ' + ${_localizationWidget.languages().contains(supportedLang) ? 'orange' : 'green'}"
                               th:value="${_localizationWidget.languages().contains(supportedLang) ? _coreLocalization.forbid() : _coreLocalization.allow()}">
                    </td>
                </tr>
            </table>
        </div>

        <a href="/super-admin" class="button orange" th:text="${_coreLocalization.back()}"></a>
    </body>
</html>