<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>App settings</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <h1>App settings</h1>

        <div class="card">
            <div class="cardDescription">
                <p>Select default language:</p>
            </div>
            <table>
                <tr>
                    <td>
                        <form id="languageSelect" th:action="@{/super-admin/app/default-language}" method="post">
                            <label for="lang"></label>
                            <select id="lang" name="code">
                                <option th:each="lang : ${_languageWidget.languages()}"
                                        th:value="${lang.getCode()}"
                                        th:text="${lang.getCode()} + ' - ' + ${lang.getSelfName()}"
                                        th:selected="${lang.equals(_languageWidget.defaultLanguage())}">
                                </option>
                            </select>
                        </form>
                    </td>
                    <td>
                        <input form="languageSelect" class="button green" type="submit" value="ok">
                    </td>
                </tr>
            </table>
        </div>

        <div class="card">
            <div class="cardDescription">
                <p>Toggle languages:</p>
            </div>
            <table>
                <tr th:each="supportedLang : ${_languageWidget.allLanguages()}"
                    th:class="${_languageWidget.languages().contains(supportedLang)} ? 'active' : 'inaccessible'">
                    <td>
                        <p th:text="'[' + ${supportedLang.getCode().toUpperCase()} + '] - ' + ${supportedLang.getSelfName()}"></p>
                    </td>
                    <td>
                        <form th:id="'toggleLanguage' + ${supportedLang}"
                              th:action="@{'/super-admin/app/language/' + ${supportedLang.name()} + '/toggle'}"
                              method="post">
                        </form>
                    </td>
                    <td>
                        <input type="submit"
                               th:form="'toggleLanguage' + ${supportedLang}"
                               th:class="'button ' + ${_languageWidget.languages().contains(supportedLang) ? 'orange' : 'green'}"
                               th:value="${_languageWidget.languages().contains(supportedLang) ? 'forbid' : 'allow'}">
                    </td>
                </tr>
            </table>
        </div>

        <a href="/super-admin" class="button orange">back</a>
    </body>
</html>