<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>News</title>
        <link rel="stylesheet" href="/admin.css">
    </head>
    <body>
        <div class="card">
            <div class="cardDescription">
                <p th:text="${_newsLocalization.news()}"></p>
            </div>

            <table>
                <tr th:each="news : ${_news}" th:class="${news.isActive() ? 'active' : 'inactive'}">
                    <td>
                        <p th:text="${news.title().content()}"></p>
                    </td>
                    <td>
                        <a th:href="@{'/super-admin/news/' + ${news.id()}}"
                           th:text="${_coreLocalization.edit()}"
                           class="button blue">
                        </a>
                    </td>
                    <td>
                        <form th:action="@{'/super-admin/news/' + ${news.id()} + ${news.isActive() ? '/hide' : '/publish'}}" method="post">
                            <input
                                    type="submit"
                                    th:class="${news.isActive() ? 'button orange' : 'button green'}"
                                    th:value="${news.isActive() ? _newsLocalization.hide() : _newsLocalization.publish()}">
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/super-admin/news/' + ${news.id()} + '/delete'}" method="post">
                            <input type="submit" class="button orange" th:value="${_coreLocalization.delete()}">
                        </form>
                    </td>
                </tr>
            </table>

        </div>

        <a href="/super-admin" class="button orange" th:text="${_coreLocalization.back()}"></a>
    </body>
</html>