<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" th:href="@{style.css}">
    </head>
    <body>

        <div th:fragment="localeSwitcher">
            <!--/*@thymesVar id="_translatorWidget" type="eu.bilekpavel.vinotekalara.translator.dto.TranslatorWidgetData"*/-->
            <div th:if="${_localizationWidget.allowedLanguages().size() > 1}" th:each="locale : ${_localizationWidget.locales()}">
                <!--/*@thymesVar id="_requestURI" type="java.lang.String"*/-->
                <a th:href="@{|?lang=${locale.getCode()}&return=${_requestURI}|}"
                   th:if="${_localizationWidget.allowedLanguages().contains(locale.getLang())}">
                    <img class="flag" th:src="@{${locale.getFlag().path()}}" th:alt="${locale.getFlag().alt()}">
                </a>
            </div>
        </div>

        <div th:fragment="navigation">
            <ul>
                <li><a href="/home">home</a></li>
                <li><a href="/super-admin">admin</a></li>
            </ul>
        </div>

        <!-------------------------------------------  ----------------------------------------------->
        <!--------------------------------------    ADMIN    ----------------------------------------->
        <!-------------------------------------------  ----------------------------------------------->

        <div th:fragment="alert_toggle">
            <form th:action="@{/admin/alert-bar/toggle}" method="post">
                <!--/*@thymesVar id="_isAlertBarAllowed" type="java.lang.Boolean"*/-->
                <input type="submit" th:if="${_isAlertBarAllowed}" class="button green" value="hide">
                <input type="submit" th:if="${!_isAlertBarAllowed}" class="button orange" value="display">
            </form>
        </div>

        <div th:fragment="alert_update_localizations">
            <table>
                <!--/*@thymesVar id="_translatorWidget" type="eu.bilekpavel.vinotekalara.translator.dto.TranslatorWidgetData"*/-->
                <!--/*@thymesVar id="_coreLocalization" type="eu.bilekpavel.vinotekalara.app.translator.dto.CoreTranslatorData"*/-->
                <tr th:each="locale : ${_localizationWidget.locales()}" class="inactive">
                    <!--/*@thymesVar id="_alertBar" type="eu.bilekpavel.vinotekalara.alertbar.dto.AlertFullData"*/-->
                    <td>
                        <form th:id="'localization' + ${locale.lang.name()}" th:action="@{'/super-admin/alert/' + ${_alertBar.id()}}" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                            <label th:for="${locale.getCode()}"></label>
                            <span>
                                <img th:src="@{${locale.getFlag().path()}}" th:alt="${locale.getLang().getSelfName()}" class="flag">
                            </span>

                            <input type="hidden" th:value="${locale.getCode()}" name="langCode">

                            <label th:for="${locale.getCode()} + '_alertBarContent'" th:text="${locale.getCode()}"></label>
                            <input th:id="${locale.getCode()} + '_alertBarContent'" name="payload" th:value="${_alertBar.getLocalized(locale.getLang()).content()}">
                        </form>
                    </td>
                    <td>
                        <input type="submit" th:form="'localization' + ${locale.lang.name()}" class="button green" th:value="${_coreLocalization.apply()}">
                    </td>
                </tr>
            </table>
        </div>

        <!--/*@thymesVar id="_hoursLocalization" type="eu.bilekpavel.vinotekalara.openinghours.translator.dto.WeeklyHoursTranslatorData"*/-->
        <!--/*@thymesVar id="_coreLocalization" type="eu.bilekpavel.vinotekalara.app.translator.dto.CoreTranslatorData"*/-->
        <!--/*@thymesVar id="_areAfternoonHoursAllowed" type="java.lang.Boolean"*/-->
        <div th:fragment="admin_hours">
            <form th:action="@{/admin/opening-hours}" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                <label for="day" th:text="${_hoursLocalization.day()}"></label>
                <select name="dayValue" id="day" required>
                    <option th:each="day : ${_hoursLocalization.daysOfWeek()}" th:value="${day.dayValue()}" th:text="${day.localization()}"></option>
                </select>

                <label for="start" th:text="${_hoursLocalization.start()}"></label>
                <input type="time" name="morningStart" id="start" required>

                <label for="end" th:text="${_hoursLocalization.end()}"></label>
                <input type="time" name="morningEnd" id="end" required>


                <label for="afternoonStart" th:if="${_areAfternoonHoursAllowed}" th:text="${_hoursLocalization.afternoonHours() + ' - ' + _hoursLocalization.start()}"></label>
                <input type="time" name="afternoonStart" id="afternoonStart" th:if="${_areAfternoonHoursAllowed}">

                <label for="afternoonEnd" th:if="${_areAfternoonHoursAllowed}" th:text="${_hoursLocalization.afternoonHours() + ' - ' + _hoursLocalization.end()}"></label>
                <input type="time" name="afternoonEnd" id="afternoonEnd" th:if="${_areAfternoonHoursAllowed}">

                <input type="submit" value="OK">
            </form>
        </div>

    </body>
</html>
