<!DOCTYPE html>
<html th:lang="${_lang}">
    <head>
        <meta charset="UTF-8">
        <title th:text="${_title}"></title>
    </head>
    <body>
        <nav>
            <section id="menu"></section>
        </nav>
        <main id="content">
            <h1 th:text="${_message}"></h1>
            <h2 th:if="${_todayHours} != null" th:text="${_todayHours}"></h2>
            <h3 th:text="${_isOpened}"></h3>
            <form th:action="@{/opening-hours}" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                <label for="day" th:text="${_day}"></label>
                <select name="dayValue" id="day" required>
                    <option th:each="day : ${_daysOfWeek}" th:value="${day.dayValue()}" th:text="${day.translation()}"></option>
                </select>

                <label for="start" th:text="${_start}"></label>
                <input type="time" name="morningStart" id="start" required>

                <label for="end" th:text="${_end}"></label>
                <input type="time" name="morningEnd" id="end" required>

                <label for="afternoonStart" th:if="${_areAfternoonHoursAllowed}" th:text="${_afternoonHours + ' ' + _start}"></label>
                <input type="time" name="afternoonStart" id="afternoonStart" th:if="${_areAfternoonHoursAllowed}">

                <label for="afternoonEnd" th:if="${_areAfternoonHoursAllowed}" th:text="${_afternoonHours + ' ' + _end}"></label>
                <input type="time" name="afternoonEnd" id="afternoonEnd" th:if="${_areAfternoonHoursAllowed}">

                <input type="submit" th:value="${_submit}">
            </form>
            <h3 th:text="${_openingHoursTranslation}"></h3>
            <p th:each="hours : ${_openingHours}" th:text="${hours}"></p>
        </main>
        <footer></footer>
    </body>
</html>
