<!DOCTYPE html>
<html th:lang="${_localizationWidget.code()}">
    <head>
        <meta charset="UTF-8">
        <title th:text="${_pageContent.title()}"></title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <nav>
        </nav>
        <main>
            <div th:if="${_isAlertBarAllowed}" th:style="'background-color: ' + ${_alertBar.backgroundColor()}">
                <p th:text="${_alertBar.content().getContent()}"></p>
            </div>

            <div class="localizationWidget" th:replace="fragments :: localeSwitcher"></div>
            <div th:replace="fragments :: navigation"></div>

            <h1 th:text="${_pageContent.welcomeMessage()}"></h1>
            <h2 th:if="${_hoursWidget.todayHours()} != null" th:text="${_hoursWidget.todayHours()}"></h2>
            <h3 th:text="${_hoursWidget.isOpenedMessage()}"></h3>
            <p th:text="${_pageContent.description()}"></p>

            <h3 th:text="${_hoursWidget.openingHours()}"></h3>
            <p th:each="hours : ${_hoursWidget.openingHoursList()}" th:text="${hours}"></p>
        </main>
        <footer></footer>
    </body>
</html>
