<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit alert</title>
        <link rel="stylesheet" th:href="@{/admin.css}">
    </head>

    <body>
        <h1 th:text="${_alertLocalization.alertBar()} + ' : ' + ${_alertBar.id()}"></h1>

        <div class="card">
            <div class="cardDescription">
                <p th:text="${_translatorLocalization.updateLocalizations()}"></p>
            </div>
            <div th:replace="fragments :: alert_update_localizations"></div>
        </div>

        <div class="card">
            <div class="cardDescription">
                <p>DODĚLEJ MĚ!!! KURVAAA! BACKGROUND</p>
            </div>
            <table>
                <tr>
                    <td>
                        <form id="backgroundColorPicker" th:action="@{'/super-admin/alert/' + ${_alertBar.id()} + '/background-color'}" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                            <label for="bckRed" th:text="${_coreColorLocalization.red()}"></label>
                            <input type="range" min="0" max="255" id="bckRed" name="red" th:value="${_alertBar.backgroundColor().red()}">

                            <label for="bckGreen" th:text="${_coreColorLocalization.green()}"></label>
                            <input type="range" min="0" max="255" id="bckGreen" name="green" th:value="${_alertBar.backgroundColor().green()}">

                            <label for="bckBlue" th:text="${_coreColorLocalization.blue()}"></label>
                            <input type="range" min="0" max="255" id="bckBlue" name="blue" th:value="${_alertBar.backgroundColor().blue()}">
                        </form>
                    </td>
                    <td>
                        <input form="backgroundColorPicker" type="submit" class="button green" id="backgroundColor" th:value="${_coreLocalization.apply()}">
                    </td>
                </tr>
            </table>
        </div>

        <div class="card">
            <div class="cardDescription">
                <p>DODĚLEJ MĚ!!! KURVAAA! FONT</p>
            </div>
            <table>
                <tr>
                    <td>
                        <form id="fontColorPicker" th:action="@{'/super-admin/alert/' + ${_alertBar.id()} + '/font-color'}" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                            <label for="fntRed" th:text="${_coreColorLocalization.red()}"></label>
                            <input type="range" min="0" max="255" id="fntRed" name="red" th:value="${_alertBar.fontColor().red()}">

                            <label for="fntGreen" th:text="${_coreColorLocalization.green()}"></label>
                            <input type="range" min="0" max="255" id="fntGreen" name="green" th:value="${_alertBar.fontColor().green()}">

                            <label for="fntBlue" th:text="${_coreColorLocalization.blue()}"></label>
                            <input type="range" min="0" max="255" id="fntBlue" name="blue" th:value="${_alertBar.fontColor().blue()}">
                        </form>
                    </td>
                    <td>
                        <input form="fontColorPicker" type="submit" class="button green" id="fontColor" th:value="${_coreLocalization.apply()}">
                    </td>
                </tr>
            </table>
        </div>

        <div class="card">
            <div class="cardDescription">
                <p th:text="${_coreLocalization.preview()}"></p>
            </div>
            <div id="previewBox" class="alertBar"
                 th:style="'background-color: ' + ${_alertBar.backgroundColor().toRgbString()} + '; color: ' + ${_alertBar.fontColor().toRgbString()}"
                 th:text="${_alertBar.localizedStrings().get(_localizationWidget.activeLanguage())}">
            </div>
        </div>

        <a href="/super-admin/alert" class="button orange" th:text="${_coreLocalization.back()}"></a>
    </body>

    <script th:src="@{/colorPicker.js}"></script>
</html>