<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit alert</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>

    <body>
        <h1 th:text="${_locale.alertBarTranslation()} + ' : ' + ${_alertBar.id()}"></h1>
        <div class="card">
            <div class="cardDescription">
                <p th:text="${_locale.updateLocalizationsTranslation()}"></p>
            </div>
            <div th:replace="fragments :: alert_update_localizations"></div>
        </div>
        <div class="card">
            <div class="cardDescription">
                <p th:text="${_locale.backgroundColorTranslation()}"></p>
            </div>
            <table>
                <tr>
                    <td>
                        <form id="colorPicker" th:action="@{'/super-admin/alert/' + ${_alertBar.id()} + '/color'}" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                            <label for="red" th:text="${_locale.redTranslation()}"></label>
                            <input type="range" min="0" max="255" id="red" name="red" >

                            <label for="green" th:text="${_locale.greenTranslation()}"></label>
                            <input type="range" min="0" max="255" id="green" name="green">

                            <label for="blue" th:text="${_locale.blueTranslation()}"></label>
                            <input type="range" min="0" max="255" id="blue" name="blue">
                        </form>
                    </td>
                    <td>
                        <input form="colorPicker" type="submit" class="button" id="backgroundColor" th:value="${_locale.applyTranslation()}">
                    </td>
                </tr>
            </table>

        </div>
        <a href="/super-admin/alert" class="button orange" th:text="${_locale.backTranslation()}"></a>
    </body>

    <script th:src="@{colorPicker.js}" type="text/javascript"></script>
</html>