<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Alert bar</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <div>
            <form th:action="@{'/super-admin/alert/allow'}" method="post">
                <label for="allowAlertBar">Allow alert bar</label>
                <input type="radio" id="allowAlertBar" name="isAllowed">
                <input type="submit" value="OK">
            </form>
        </div>

        <table>
            <tr th:each="bar: ${_alertBars}">
                <td th:text="${bar.content().content()}" th:style="'background-color: ' + ${bar.backgroundColor()}"></td>
                <td><a th:href="@{'/super-admin/alert/' + ${bar.id()}}" class="button blue">EDIT</a></td>
                <td>
                    <form th:action="@{'/super-admin/alert/activate/' + ${bar.id()}}" method="post">
                    <input type="hidden" th:value="${bar.id()}">
                    <input type="submit" value="ACTIVATE" class="button green">
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>