<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Opening hours</title>
        <link rel="stylesheet" th:href="@{/admin.css}">
    </head>
    <body>
        <h1 th:text="${_hoursLocalization.activeHours()} + ': ' + ${_openingHours.activeHours().userIdentifier()}"></h1>
        <h3 th:if="${_message != null && !_message.isEmpty()}" th:text="${_message}"></h3>

        <div class="card">
            <div class="cardDescription">
                <p th:text="${_coreLocalization.settings()}"></p>
            </div>
            <table>
                <tr class="inactive">
                    <td>
                        <form id="allowAfternoon" th:action="@{/super-admin/hours/allow-afternoon-hours}" method="post">
                            <p th:text="${_hoursWidget.afternoonHours()}"></p>
                            <label for="allowAfternoonHours" th:text="${_coreLocalization.allow()}"></label>
                            <input id="allowAfternoonHours" type="radio" name="isAllowed" th:value="true" th:checked="${_areAfternoonHoursAllowed} == true"/>
                            <label for="disallowAfternoonHours" th:text="${_coreLocalization.forbid()}"></label>
                            <input id="disallowAfternoonHours" type="radio" name="isAllowed" th:value="false" th:checked="${_areAfternoonHoursAllowed} == false"/>
                        </form>
                    </td>
                    <td>
                        <input form="allowAfternoon" type="submit" th:value="${_coreLocalization.submit()}" class="button green">
                    </td>
                </tr>
            </table>
        </div>

        <div class="card">
            <div class="cardDescription">
                <p th:text="${_hoursLocalization.selectHours()}"></p>
            </div>
        <table>
            <tbody>
                <tr th:each="hours : ${_openingHours.weeklyHours()}" th:class="${hours.equals(_openingHours.activeHours()) ? 'active' : 'inactive'}">
                    <td>
                        <p th:text="${hours.userIdentifier()}"></p>
                    </td>
                    <td>
                        <a th:href="@{'/super-admin/hours/' + ${hours.id()}}"
                           th:text="${_coreLocalization.edit()}"
                           class="button blue">
                        </a>
                    </td>
                    <td>
                        <form th:action="@{'/super-admin/hours/' + ${hours.id()} + '/activate'}" method="post">
                            <input type="submit" class="button green" th:value="${_coreLocalization.activate()}">
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/super-admin/hours/' + ${hours.id()} + '/delete'}" method="post">
                            <input type="submit" class="button orange" th:value="${_coreLocalization.delete()}">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form id="createWeeklyHours" th:action="@{/super-admin/hours/create}" method="post">
                            <label for="name" th:text="${_coreLocalization.create() + ' ' + _hoursLocalization.openingHours()}"></label> <!-- TODO create single translator field -->
                            <input id="name" name="name" required>
                        </form>
                    </td>
                    <td>
                        <input form="createWeeklyHours" type="submit" class="button green" th:value="${_coreLocalization.create()}">
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <a href="/super-admin" class="button orange" th:text="${_coreLocalization.back()}"></a>
    </body>
</html>