<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Opening hours</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <div>
            <table>
                <tbody>
                    <tr th:each="hours : ${_openingHours}">
                        <td>
                            <p th:text="${hours.userIdentifier()}"></p>
                        </td>
                        <td>
                            <a th:href="@{'/super-admin/hours/' + ${hours.id()}}"
                               th:text="${hours.userIdentifier()}"
                               class="button smallBar">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/super-admin">Back</a>
        </div>
    </body>
</html>