* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    text-decoration: none;
}

body {
    display: grid;
    justify-content: center;
}

body > * {
    margin-top: 1rem;
}

.buttonPanel {
    display: flex;
    gap: .4rem;
}

a, a:hover, a:active {
    color: inherit;
}

.localizationWidget {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    width: 1.3rem;
    border: 1px solid black;
    border-radius: 0.2rem;
}

.flag:hover {
    cursor: pointer;
    box-shadow: 0 0 5px dimgray;
}

.button {
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: .3rem;
    padding: .6rem;
    background-color: lightgray;
}

.button:hover, .button:focus {
    cursor: pointer;
    box-shadow: 0 0 4px 0 black;
}

.orange:hover, .orange:active, .orange:focus {
    background-color: darkorange;
}

.green:hover, .green:active, .green:focus {
    background-color: limegreen;
}

.blue:hover, .blue:active, .blue:focus {
    background-color: lightskyblue;
}

.alertBar {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
}

.dailyHours:hover {
    background-color: #EEEEEE;
}

.active {
    background-color: lightgreen;
}

.active:hover {
    background-color: limegreen;
}

.inactive:hover {
    background-color: lightgray;
}

.card {
    border: 1px solid lightgray;
    border-radius: .5rem;
    padding: 1rem;
}

table {
    border-spacing: 0;
}

td {
    padding: .4rem;
}

input {
    padding: .4rem;
    font-size: 1.3rem;
}