* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

.localizationWidget {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    width: 1.3rem;
    border: 1px solid black;
    border-radius: 0.2rem;
}

.flag:hover {
    cursor: pointer;
    box-shadow: 0 0 5px dimgray;
}

.button {
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: .3rem;
    padding: .6rem;
    background-color: lightgray;
}

.button:hover, .button:focus {
    cursor: pointer;
    box-shadow: 0 0 4px 0 black;
}

.allowed:hover, .allowed:active, .allowed:focus {
    background-color: darkorange;
}

.notAllowed:hover, .notAllowed:active, .notAllowed:focus {
    background-color: limegreen;
}

.alertBar {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
}
