<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title th:text="${_adminLocalization.title()}"></title>
    </head>
    <body>
        <h1 th:text="${_adminLocalization.title()}"></h1>
        <div class="card">
        <a href="super-admin/app" th:text="${_coreLocalization.application()}"></a>
        <br>
        <a href="super-admin/alert" th:text="${_alertLocalization.alertBar()}"></a>
        <br>
        <a href="super-admin/hours" th:text="${_hoursLocalization.openingHours()}"></a>
    </body>
</html>